node_modules/
*.log

# Logs
logs
npm-debug.log*

# Dependency directory

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode

# Logger files
request.log
error.log

# env

.env